{
  "trigger": "!",
  
  "twitter consumer key": "",
  "twitter consumer secret": "",
  "twitter access token": "",
  "twitter access token secret": "",
  
  "irc server": "chat.freenode.net",
  "irc port": 7000,
  "irc use ssl": true,
  "irc use sasl": true,
  "irc nick": "nullstar",
  "irc name": "nullstar",
  "irc username": "nullstar",
  "irc nickserv password": "",
  "irc channels": [
    "#nullstar"
  ]
}