{
  "trigger": "!",
  
  "database path": "./nullstar.db",
  
  "twitter consumer key": "",
  "twitter consumer secret": "",
  "twitter access token": "",
  "twitter access token secret": "",
  "twitter notice tweets": true,
  "twitter allowed channels": [],
  
  "linklog capture links": true,
  "linklog post url": "",
  "linklog post token": "",
  
  "weather api key": "",

  "irc server": "chat.freenode.net",
  "irc port": 7000,
  
  "irc use ssl": true,
  "irc ssl accept self signed certs": false,
  "irc ssl accept expired certs": false,
  "irc use sasl": true,
  "irc strip colors": false,
  "irc enable debug", false,
  "irc enable autorejoin": true,
  "irc enable flood protection": true,
  "irc flood protection delay": "1s",
  "irc message split size": 512,
  "irc connect attempts": 5,
  "irc connect attempt delay": "2s",
  "irc nick": "nullstar",
  "irc name": "nullstar",
  "irc username": "nullstar",
  "irc nickserv password": "",
  "irc channels": [
    "#nullstar"
  ]
}
